.profile{
    margin: 10px auto;
    width: 400px;
    position: relative;
}
.profile-bg{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.profile-header{
    position: absolute;
}
.user{
    border-radius: 50%;
    position: absolute;
    left: 160px;
    bottom: -30px;
}
.content{
    margin: 20px;
    text-align: center;
    position: absolute;
    top:100px;
    left: 50px;
}